@import "~picnic/src/themes/default/_theme.scss";

button,input[type="submit"],input[type="reset"],.button { margin:0 }

//Namespace: COLOR
$maroonesque: rgb(202, 60, 60);
$subgray: #2c3e50;

//Classic theme color
$classicblue: #26619C;
$classiclightblue: #1F8DD6;
$classicgreen: #4F8A10;

#program {
    font-family: 'Open Sans', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: $subgray;
    margin-top: 60px;
}

form {
    textarea {
        resize: none;
    }
    fieldset {
        input[type="submit"] {
            text-align: center;
        }
        margin: 12px 0;
    }
}

input[type="submit"].stack  {
    padding: 0.3em 0.6em;
    border: 1px solid rgb(0, 116, 217);
}

input, textarea, select {
    &:focus + label.stack {
        border-top-color: $picnic-primary;
    }
}

label.stack {
    text-align: center;
    display: block;
    background-color: white;
    width: 100%;
    padding: 0.3em 0.6em;
    border: $picnic-border;
    border-bottom: 0;
}

// TODO remove Pure CSS by Yahoo
//Pure CSS enhancements
/* Button classes:
 * Standard Error state button
 * Standard Success state button
 * Info
 * Primary action
 * Secondary action
*/
.pure-button-error {
    background-color: $maroonesque;
 }
.pure-button-success {
    background-color: $classicgreen;
}
.classic-primary-button {
    background-color: $classicblue;
}
.classic-secondary-button {
    background-color: $subgray;
}
.classic-info-button {
    /* TODO */
}

.alert {
    &.info, &.success, &.error {
        border: 1px solid;
        border-radius: 5px;
        margin: 10px 10px;
        padding: 10px 10px 10px 15px;
    }
    &.info {
        color: #fff;
        background-color: $classiclightblue;
    }
    &.error {
        color: #D8000C;
        background-color: #FFBABA;
    }
    &.success {
        color: $classicgreen;
        background-color: #DFF2BF;
    }
}

//Namespace:common layout patterns
/* quad */
/* triangle */
/* column */
/* line */

.quad .grid-item {
    /*pure mixin*/
}
.triangle .grid-item {

}
.column .grid-item {

}
.line .grid-item {

}

//CSS3 extensions and properties?
