{
  "presets": [
      ["env", {"targets": { "browsers": ["defaults"]}}],
      ["stage-2"],
      ["stage-3"]
  ],
  "plugins": ["transform-runtime", "transform-vue-jsx"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
